@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
button {
  outline: none !important;
}
a {
  text-decoration: none;
}
.main-title {
  font: 600 20px Poppins;
  color: #000;
}
.with-back-btn {
  display: flex;
  align-items: center;
}
.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dual-icon-cover {
  .show-hover-icon {
    display: none;
  }
  &:hover {
    .show-hover-icon {
      display: block !important;
    }
    .show-icon {
      display: none !important;
    }
  }
}
